.homeContainer {
  background-color: #121212;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.jobDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.jobButton {
  padding: 10px 24px;
  border-width: 0px;
  border-radius: 5px;
  background-color: #4f46e5;
  color: white;
  font-family: 'Roboto';
  font-weight: 600;
}

.whole-cont {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .homeImage-large {
    display: none;
    align-self: flex-end;
  }

  .whole-cont {
    padding: 20px;
  }

  .homeContainer {
    overflow-y: scroll;
  }
}

@media (min-width: 577px) {
  .homeImage-small {
    display: none;
  }

  .homeImage-large {
    align-self: flex-end;
    width: 100vw;
  }

  .homeContainer {
    background-color: #121212;
    height: 100vh;
    color: white;
  }
}
